main {
    display: grid;
    font-size: 0.9em;
}

@media all and (768px < width < 1300px) {
    main {
        grid-template-columns: 1fr 1fr;
        font-size: 0.75em;
        * * {
            margin-inline: 0;
        }
    }
    .cuboids {
        grid-column: 1;
        padding-inline-end: 0.4em;
        border-inline-end: 0.1em solid var(--tertiaryDark);
    }
    .wedges, .incornerWedges {
        grid-column: 2;
        padding-inline-start: 0.4em;
        margin-inline-start: 0.4em;
        border-inline-start: 0.1em solid var(--tertiaryDark);
    }
    .outcornerWedges {
        grid-column: 1;
        padding-inline-end: 0.4em;
        border-inline-end: 0.1em solid var(--tertiaryDark);
    }
}
@media all and (min-width: 1300px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cuboids, .incornerWedges {
        grid-column: 1;
        padding-inline-end: 0.6em;
        border-inline-end: 0.1em solid var(--tertiaryDark);
    }
    .wedges {
        grid-column: 2;
        padding-inline-start: 0.2em;
        margin-inline-start: 0.4em;
        border-inline-start: 0.1em solid var(--tertiaryDark);
        padding-inline-end: 0.6em;
        border-inline-end: 0.1em solid var(--tertiaryDark);
    }
    .outcornerWedges {
        grid-column: 3;
        padding-inline-start: 0.2em;
        margin-inline-start: 0.4em;
        border-inline-start: 0.1em solid var(--tertiaryDark);
    }
}
